body {
    background-color: azure;
}

  /* knockout effect   */
.backdrop {
	background: url("./images/waves.jpg") center;
	background-size: contain;
	margin: auto;
	margin-top: 40px;
	width: 75vw;
}


.screen {
	color: black;
	mix-blend-mode: screen;
	background-color: rgba(244, 220, 211, 1);
}

/* font-family: 'Alfa Slab One', cursive; */

.text {
	font: bolder 12vw "Alfa Slab One";
	text-align: center;
	margin: 0;
  border: 4px solid;
  letter-spacing: 4px;
/* the following only necessary if you want to animate the title */
  animation: glow 3s infinite;
}

@keyframes glow {
	0% {
		text-shadow: 0 0 10px white;
	}

	15% {
		text-shadow: 2px 2px 10px rgba(255, 255, 255, 1),
				   -2px -2px 10px rgba(255, 255, 255, 1);
	}
	30% {
		text-shadow: 2px 2px 4px rgba(255, 255, 255, .7),
				   -2px -2px 4px rgba(255, 255, 255, .7);
	}
	50% {
		text-shadow: 20px 20px 50px rgba(255, 255, 255, .5),
				   -20px -20px 50px rgba(255, 255, 255, .5);
	}
}

.lighten {
	color: black;
	mix-blend-mode: lighten;
	background-color: fuchsia;
}




/* --Expand and contract letters-- */
.title-expand {
    animation-name: expand;
    animation-duration: 4s;
    text-align: center;
    font-family: 'Patua One', cursive;
    letter-spacing: .1vw;
} 

@keyframes expand {
  0% {
    letter-spacing: .1vw;
  }
  50% {
    letter-spacing: 1.7vw;
  }
  100% {
    letter-spacing: .1vw;
  }
}
/* --end expand animation-- */

/* --Train animation-- */
.choo-choo {
  animation: acrosspage 12s ease-in-out;
  top: 53em;
  margin-bottom: 5vh;
}

@keyframes acrosspage {
  0% {
    transform: translateX(-10em);
  }
  100% {
    transform: translateX(80em);
  }
}

/* --end train animation-- */

/* --Zoom in animation-- */
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  animation-duration: 4s;
  text-align: center;
  font-family: 'Oswald';
  font-size: 18vh;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    font-size: 6vh;
  }
  100% {
    opacity: 1;
    font-size: 18vh;
  }
}

/* --end Zoom in animation-- */

/* --  Open the book animation-- */

.cover {
  position:absolute;
  left:50%;
  top:175%;
  transform-style:preserve-3d;
  transform:translate(-50%,-50%) perspective(2000px);
  width:150px;
  height:200px;
  background:#fff;
  box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 0 20px 100px rgba(0,0,0,.5);
  transition: 1.5s;
}
.cover:hover {
  transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}
.cover:before {
  content:'';
  position:absolute;
  top:-5px;
  left:0;
  width:100%;
  height:5px;
  background: #323a3c;
  /* transform-origin: bottom; */
  transform: skewX(-45deg);
}
.cover:after {
  content:'';
  position: absolute;
  top:-5px;
  right:-5px;
  width:5px;
  height:101%;
  background: #323a3c;
  transform-origin: left;
  transform: skeyY(-45deg);
  z-index:1;
}
img-box img {
  overflow:hidden;
  width:300px;
  height:400px;
}
.cover .imgBox {
  overflow:hidden;
  width: 100%;
  height: 100%;
  position:relative;
  transform-origin: left;
  transition: 2s cubic-bezier(.27,1.03,.75,.43);
  z-index:1;
}

.cover:hover .imgBox {
  transform: rotateY(-175deg);
}

.cover .frontPage {
  position:absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  padding:20px;
}
h2 p {
  padding:0;
  margin:0;
}

h2 {
  font-size:12px;
  line-height:16px;
  text-align:center;
  font-weight:bold;
}

.pagenumber {
  text-align:right;
}

.frontPage p {
  text-align:justify;
  font-size:6px;
}


/* --end open the book animation-- */




