body {
    background-color: azure;
}

/* --Expand and contract letters-- */
.title-expand {
    animation-name: expand;
    animation-duration: 4s;
    text-align: center;
    font-family: 'Patua One', cursive;
    letter-spacing: .1vw;
} 

@keyframes expand {
  0% {
    letter-spacing: .1vw;
  }
  50% {
    letter-spacing: 1.7vw;
  }
  100% {
    letter-spacing: .1vw;
  }
}
/* --end expand animation-- */


.choo-choo {
  animation: acrosspage 12s ease-in-out;
  top: 53em;
}

@keyframes acrosspage {
  0% {
    transform: translateX(-10em);
  }
  100% {
    transform: translateX(80em);
  }
}